extends layout 
 
block content 
  h1= title 
 
  form(id='GuitarForm', action="/resource/guitar", method="POST") 
    div.form-group 
        label.guitarAttr(for='GBrand') Guitar Brand 
        input#GBrand(type='text', name='GBrand',minlength="4",maxlength="9") 
    div.form-group 
        label.guitarAttr(for='Gcolor') Guitar color 
        input#Gcolor(type='text', name='Gcolor') 
    div.form-group 
        label.guitarAttr(for='GCost') Guitar cost 
        input#GCost(type='number', name='GCost',min="13.2",max="25.99") 
    input(type="submit") 
 
  script. 
    document.forms['GuitarForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 