extends layout

block content
  h1= title
  p No changes in index PUG file lab 11<br><br>
    button(type="button" class="btn btn-success" onClick="update()") Press Me
  div(id="target") Display
  script.
    var client_count=0;
    function update(){
      client_count=client_count+1;
      document.getElementById("target").innerHTML=`Value now ${client_count}`;
    }
  a(href='guitar') guitar

extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/guitar") Take me to costumes 
    br 
    a(href="/logout") Logout 


